<!DOCTYPE html>
<html>
<head>
    <title>Heart Disease Prediction</title>
</head>
<body>
    <h2>Heart Disease Prediction Form</h2>
    <form method="post">
        {% for feat in ['age', 'resting blood pressure (in mmHg)', 'cholesterol', 'maximum heart rate', 'ST depression induced by exercise relative to rest',
        'sex (Male=0, Female=1)', 'fasting blood sugar if fasting blood sugar > 120 mg/dl (true=0, false=1)', 'exercise include angina (true=0, false=1)',
        'chest pain (typical angina=0, atypicial angina=1, non-anginal=2, asymptomatic=3)', 'the slope of the peak exercise ST segment',
        'resting electrocardiographic results (normal=0, stt abnormality=1, lv hypertrophy=2)', 'thal (normal=0, fixed defect=1, reversible effect=2)', 'number of major vessels (0-3) colored by fluoroscopy'] %}
            <label>{{ feat }}:</label><br>
            <input type="number" step="any" name="{{ feat }}" required><br><br>
        {% endfor %}
        <input type="submit" value="Predict">
    </form>

    {% if prediction is not none %}
        <h3>Prediction: {{ prediction }}</h3>
    {% endif %}
</body>
</html>
